<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885701488523-09pdq1n7cimcf8po7jbct1kc8npnt6mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885701488523-09pdq1n7cimcf8po7jbct1kc8npnt6mn</string>
	<key>API_KEY</key>
	<string>AIzaSyC48BOc6WwwCCFtNELJ-WeNpggnDelHfw0</string>
	<key>GCM_SENDER_ID</key>
	<string>885701488523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zubaKaris</string>
	<key>PROJECT_ID</key>
	<string>zuba-kasir-b27dd</string>
	<key>STORAGE_BUCKET</key>
	<string>zuba-kasir-b27dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885701488523:ios:912b970b7341c12b04098e</string>
</dict>
</plist>